<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>
<body class="bg-shishyko-bg text-shishyko-text">
  <header class="grid grid-cols-2 gap-6 mb-20 pt-6">
    <a href="/" class="w-16">
      <!-- <svg viewBox="0 0 79 44" xmlns="http://www.w3.org/2000/svg"> -->
        <!-- SVG path data here -->
      </svg>
    </a>
    <nav>
      <a href="/" class="mr-4">Info</a>
      <a href="/projects">Projects</a>
    </nav>
  </header>

  <main class="min-h-screen mb-20">
    {{ content }}
  </main>

  <footer class="grid grid-cols-2 md:grid-cols-4 gap-6 pt-16 pb-6">
    <div class="col-span-2 md:col-span-1">
      <a href="#">&uarr;</a>
    </div>
    <div>
      <div><a href="/">Info</a></div>
      <div><a href="/projects">Projects</a></div>
    </div>
    <div>
      <div><a href="mailto:info@shishyko.com">Email</a></div>
    </div>
    <div class="col-span-2 md:col-span-1 text-sm">
      &copy; 2024 shishyko LLC
    </div>
  </footer>
</body>
</html>